@model ToDoList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit List</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(x => x.IsCompleted)
                                List Completed
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x.IsHidden)
                                Mark list as hidden list
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x.IsImportant)
                                Mark list as important list
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Lists</a>
</div>
